In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

In [62]:
df = pd.read_csv('price_demand_data.csv')
display(df)
df.info()

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0       VIC1    1/01/2021 0:30      4179.21           LOW
1       VIC1    1/01/2021 1:00      4047.76           LOW
2       VIC1    1/01/2021 1:30      3934.70           LOW
3       VIC1    1/01/2021 2:00      3766.45           LOW
4       VIC1    1/01/2021 2:30      3590.37           LOW
...      ...               ...          ...           ...
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM

[11664 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REGION          11664 non-null  object
 1   SETTLEMENTDATE  11664 non-null  object
 2   TOTALDEMAND     11664 non-null  float64
 3   PRICECATEGORY   11664 non-null  object
dtypes: float64(1), object(3)
memory usage: 364.6+ KB

In [63]:
# convert to datetime
df['SETTLEMENTDATE'] = pd.to_datetime(df['SETTLEMENTDATE'])

In [64]:
'''
How to find max value per each 48 row in csv format
'''
df['part'] = df.index // 48
print(df)

      REGION      SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY  part
0       VIC1 2021-01-01 00:30:00      4179.21           LOW     0
1       VIC1 2021-01-01 01:00:00      4047.76           LOW     0
2       VIC1 2021-01-01 01:30:00      3934.70           LOW     0
3       VIC1 2021-01-01 02:00:00      3766.45           LOW     0
4       VIC1 2021-01-01 02:30:00      3590.37           LOW     0
...      ...                 ...          ...           ...   ...
11659   VIC1 2021-08-31 22:00:00      4861.91        MEDIUM   242
11660   VIC1 2021-08-31 22:30:00      4748.74        MEDIUM   242
11661   VIC1 2021-08-31 23:00:00      4620.09        MEDIUM   242
11662   VIC1 2021-08-31 23:30:00      4834.00        MEDIUM   242
11663   VIC1 2021-01-09 00:00:00      4811.27        MEDIUM   242

[11664 rows x 5 columns]

In [65]:
'''
Display whole row for max TOTALDEMAND
'''
result = df.groupby('part')['TOTALDEMAND'].transform(max) == df['TOTALDEMAND']
result = df[result].reset_index()
print(result)
df.info()

     index REGION      SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY  part
0       34   VIC1 2021-01-01 17:30:00      5019.64           LOW     0
1       81   VIC1 2021-02-01 17:00:00      4964.35           LOW     1
2      132   VIC1 2021-03-01 18:30:00      4503.31           LOW     2
3      180   VIC1 2021-04-01 18:30:00      4764.18           LOW     3
4      225   VIC1 2021-05-01 17:00:00      4800.64           LOW     4
..     ...    ...                 ...          ...           ...   ...
238  11461   VIC1 2021-08-27 19:00:00      6769.89          HIGH   238
239  11509   VIC1 2021-08-28 19:00:00      5716.32        MEDIUM   239
240  11557   VIC1 2021-08-29 19:00:00      6227.89       EXTREME   240
241  11604   VIC1 2021-08-30 18:30:00      6072.91        MEDIUM   241
242  11653   VIC1 2021-08-31 19:00:00      5779.56        MEDIUM   242

[243 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REGION          11664 non-null  object
 1   SETTLEMENTDATE  11664 non-null  datetime64[ns]
 2   TOTALDEMAND     11664 non-null  float64
 3   PRICECATEGORY   11664 non-null  object
 4   part            11664 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 455.8+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REGION          11664 non-null  object
 1   SETTLEMENTDATE  11664 non-null  object
 2   TOTALDEMAND     11664 non-null  float64
 3   PRICECATEGORY   11664 non-null  object
 4   part            11664 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 455.8+ KB

In [273]:
'''
export df 'result' file to csv
'''
result.to_csv('MAX_PRICE_DEMAND_DATA.csv')

In [66]:
result['Dates'] = pd.to_datetime(result['SETTLEMENTDATE']).dt.date
pd.to_datetime(result['Dates'],dayfirst=True)
result['Time'] = pd.to_datetime(result['SETTLEMENTDATE']).dt.time
print(result)
df.info()

     index REGION      SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY  part  \
0       34   VIC1 2021-01-01 17:30:00      5019.64           LOW     0
1       81   VIC1 2021-02-01 17:00:00      4964.35           LOW     1
2      132   VIC1 2021-03-01 18:30:00      4503.31           LOW     2
3      180   VIC1 2021-04-01 18:30:00      4764.18           LOW     3
4      225   VIC1 2021-05-01 17:00:00      4800.64           LOW     4
..     ...    ...                 ...          ...           ...   ...
238  11461   VIC1 2021-08-27 19:00:00      6769.89          HIGH   238
239  11509   VIC1 2021-08-28 19:00:00      5716.32        MEDIUM   239
240  11557   VIC1 2021-08-29 19:00:00      6227.89       EXTREME   240
241  11604   VIC1 2021-08-30 18:30:00      6072.91        MEDIUM   241
242  11653   VIC1 2021-08-31 19:00:00      5779.56        MEDIUM   242

          Dates      Time
0    2021-01-01  17:30:00
1    2021-02-01  17:00:00
2    2021-03-01  18:30:00
3    2021-04-01  18:30:00
4    2021-05-01  17:00:00
..          ...       ...
238  2021-08-27  19:00:00
239  2021-08-28  19:00:00
240  2021-08-29  19:00:00
241  2021-08-30  18:30:00
242  2021-08-31  19:00:00

[243 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REGION          11664 non-null  object
 1   SETTLEMENTDATE  11664 non-null  datetime64[ns]
 2   TOTALDEMAND     11664 non-null  float64
 3   PRICECATEGORY   11664 non-null  object
 4   part            11664 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 455.8+ KB