In [197]:
# According to DataFlowChart.png, Daniel advised the task allocations:
'''
step 1-3, everyone involved
step 4-6, 1-2 people do exploration and prediction, can have >1 models
step 7 , everyone
'''

'\nstep 1-3, everyone involved\nstep 4-6, 1-2 people do exploration and prediction, can have >1 models\nstep 7 , everyone\n'

In [198]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [227]:
df = pd.read_csv('price_demand_data.csv')
display(df)

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0       VIC1    1/01/2021 0:30      4179.21           LOW
1       VIC1    1/01/2021 1:00      4047.76           LOW
2       VIC1    1/01/2021 1:30      3934.70           LOW
3       VIC1    1/01/2021 2:00      3766.45           LOW
4       VIC1    1/01/2021 2:30      3590.37           LOW
...      ...               ...          ...           ...
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM

[11664 rows x 4 columns]

In [264]:
'''
How to find max value per each 48 row in csv format
'''
df['part'] = df.index // 48
print(df)

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY  part
0       VIC1    1/01/2021 0:30      4179.21           LOW     0
1       VIC1    1/01/2021 1:00      4047.76           LOW     0
2       VIC1    1/01/2021 1:30      3934.70           LOW     0
3       VIC1    1/01/2021 2:00      3766.45           LOW     0
4       VIC1    1/01/2021 2:30      3590.37           LOW     0
...      ...               ...          ...           ...   ...
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM   242
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM   242
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM   242
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM   242
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM   242

[11664 rows x 5 columns]

In [272]:
'''
Display whole row for max TOTALDEMAND
'''
result = df.groupby('part')['TOTALDEMAND'].transform(max) == df['TOTALDEMAND']
#df = pd.reset_index(drop=True)
result = df[result].reset_index()
print(result)

     index REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY  part
0       34   VIC1   1/01/2021 17:30      5019.64           LOW     0
1       81   VIC1   2/01/2021 17:00      4964.35           LOW     1
2      132   VIC1   3/01/2021 18:30      4503.31           LOW     2
3      180   VIC1   4/01/2021 18:30      4764.18           LOW     3
4      225   VIC1   5/01/2021 17:00      4800.64           LOW     4
..     ...    ...               ...          ...           ...   ...
238  11461   VIC1  27/08/2021 19:00      6769.89          HIGH   238
239  11509   VIC1  28/08/2021 19:00      5716.32        MEDIUM   239
240  11557   VIC1  29/08/2021 19:00      6227.89       EXTREME   240
241  11604   VIC1  30/08/2021 18:30      6072.91        MEDIUM   241
242  11653   VIC1  31/08/2021 19:00      5779.56        MEDIUM   242

[243 rows x 6 columns]

In [273]:
'''
export df 'result' file to csv
'''
result.to_csv('MAX_PRICE_DEMAND_DATA.csv')